{{#if familiar}}
<h3>{{i18n 'familiar'}}</h3>
<div class="form-group familiar">
    <div class="form-fields">
        <range-picker name="familiar-range" value="{{familiar.value}}" min="0"
            max="{{familiar.max}}" step="1" tabindex="-1"></range-picker>
    </div>
</div>
{{/if}}

<h3>{{i18n 'filters'}}</h3>
{{#each dailies as |daily|}}
<div class="form-group daily">
    <label>{{daily.label}}</label>
    <input type="checkbox" name="daily-enabled" data-daily-key="{{daily.key}}" {{checked
        daily.enabled}}>
</div>
{{/each}}