{{#each dailies as |daily|}}
{{#if daily.configs}}
<h3>{{daily.label}}</h3>
{{#each daily.configs as |config|}}
<div class="form-group config">
    {{#if config.label}}
    <label>{{config.label}}</label>
    {{/if}}
    {{!-- range --}}
    {{#if (eq config.type 'range')}}
    <div class="form-fields">
        <range-picker name="{{config.name}}" data-daily-key="{{daily.key}}"
            data-save-max-value="{{config.saveMaxValue}}"
            data-dispatch-update-event="{{config.dispatchUpdateEvent}}" value="{{config.value}}"
            min="{{config.min}}" max="{{config.max}}" step="{{config.step}}"
            tabindex="-1"></range-picker>
    </div>
    {{!-- checkbox --}}
    {{else if (eq config.type 'checkbox')}}
    <input type="checkbox" name="{{config.name}}" data-daily-key="{{daily.key}}"
        data-dispatch-update-event="{{config.dispatchUpdateEvent}}" {{checked config.value}}>
    {{/if}}
</div>
{{/each}}
{{/if}}
{{/each}}

<h3>{{@root.i18n 'filters'}}</h3>
{{#each dailies as |daily|}}
<div class="form-group daily">
    <label>{{daily.label}}</label>
    <input type="checkbox" name="daily-enabled" data-daily-key="{{daily.key}}" {{checked
        daily.enabled}}>
</div>
{{/each}}