<form>
    <div class="left">
        <div class="list">
            {{#each list as |daily|}}
            <div class="row{{#if daily.selected}} selected{{/if}}" data-key="{{daily.key}}">
                <span class="name{{#if daily.readonly}} readonly{{/if}}"
                    data-action="select-daily">{{daily.key}} </span>
                <a data-action="delete-daily" data-tooltip="{{@root.i18n.path 'list.delete'}}">
                    <i class="fas fa-trash"></i>
                </a>
            </div>
            {{/each}}
        </div>
        <div class="buttons">
            <button type="button" data-action="create-daily">
                <i class="fas fa-mug-saucer"></i> {{@root.i18n 'list.create'}}
            </button>
        </div>
    </div>
    <div class="right">
        {{#if readonly}}
        <div class="readonly">
            {{{@root.i18n 'readonly.flavor'}}}
        </div>
        {{/if}}
        <textarea class="editor" {{disabled (or readonly disabled)}}
            spellcheck="false">{{code}}</textarea>
        <button type="button" data-action="save-daily" {{disabled (or readonly disabled)}}>
            <i class="fas fa-save"></i> {{@root.i18n 'code.save'}}
        </button>
    </div>
</form>