<div class="content">
    {{#if rows.length}}
    <div class="group rows">
        {{#each rows as | group |}}
        {{> (concat group.rows.[0].type 'Row') entry=group.rows.[0] group=group label=group.label}}
        {{/each}}
    </div>
    {{/if}}

    {{#each groups as | group |}}
    <div class="group {{group.type}}">
        <h3>{{group.label}}</h3>
        {{#each group.rows as | row |}}
        {{> (concat row.type 'Row') entry=row group=../group label=row.label}}
        {{/each}}
    </div>
    {{/each}}
</div>

<div class="buttons">
    <button data-action="accept"><i class="fas fa-save"></i> {{i18n 'accept'}}</button>
    <button data-action="cancel"><i class="fas fa-times"></i> {{i18n 'cancel'}}</button>
</div>

<div class="cover">
    <div class="loader"></div>
</div>

{{#*inline 'inputRow'}}
<label>{{label}}</label>
<input type="text" class="input" value="{{entry.selected}}" placeholder="{{entry.placeholder}}" data-type="{{group.type}}"
    data-category="{{group.category}}" />
<a data-action="clear" {{#unless entry.uuid}} class="disabled" {{/unless}}><i class="fas fa-times"></i></a>
{{/inline}}

{{#*inline 'dropRow'}}
<label data-droppable="true">{{label}}</label>
<input type="text" class="drop" data-droppable="true" value="{{entry.name}}" data-type="{{group.type}}" data-category="{{group.category}}"
    data-uuid="{{entry.uuid}}" data-level="{{entry.level}}" disabled />
<a data-action="search" data-type="{{group.type}}" data-level={{entry.level}}>
    <i class="fas fa-search"></i>
</a>
<a data-action="clear" {{#unless entry.uuid}} class="disabled" {{/unless}}><i class="fas fa-times"></i></a>
{{/inline}}

{{#*inline 'selectRow'}}
<label>{{label}}</label>
<select data-type="{{group.type}}" data-category="{{group.category}}" data-rank="{{entry.rank}}">
    {{#select entry.selected}}
    {{#each entry.options as | option |}}
    <option value="{{option}}">{{option}}</option>
    {{/each}}
    {{/select}}
</select>
{{/inline}}