<div class="content">
    {{#if (or (and skills.length skillItems.length) languageItems.length)}}
        <div class="large-group">
            {{#each skillItems}}
                <div class="row">
                    <label>{{this.name}}</label>
                    <select name="{{this.category}}">
                        {{selectOptions @root.skills nameAttr='skill' labelAttr='skill' selected=this.selected}}
                    </select>
                </div>
            {{/each}}
            {{#each languageItems}} 
                <div class="row">
                    <label>{{this.name}}</label>
                    <select name="{{this.category}}">
                        {{selectOptions @root.languages nameAttr='language' labelAttr='language' selected=this.selected}}
                    </select>
                </div>
            {{/each}}
        </div>
        <hr>
    {{/if}}

    {{#if scrollItems.length}} 
        <div class="groups">
            {{#each scrollItems}}
                <div class="group" data-type="spell" data-category="{{this.category}}">
                    <h3>{{this.name}}</h3>
                    {{#each this.slots}}
                        <label>{{localize (concat 'PF2E.SpellLevel' this.spellLevel)}}</label>
                        <input 
                            type="text" 
                            name="spell"
                            value="{{this.name}}" 
                            data-uuid="{{this.uuid}}" 
                            data-level="{{this.spellLevel}}"
                            disabled
                        />
                        <a data-action="search" data-level={{this.spellLevel}}><i class="fas fa-search"></i></a>
                        <a data-action="clear"{{#unless this.uuid}} class="disabled"{{/unless}}><i class="fas fa-times"></i></a>
                    {{/each}}
                </div>
            {{/each}}
        </div>
    {{/if}}
</div>

<div class="buttons">
    <button data-action="accept"><i class="fas fa-save"></i> {{i18n 'accept'}}</button>
    <button data-action="cancel"><i class="fas fa-times"></i> {{i18n 'cancel'}}</button>
</div>
