<div class="content">
    {{#if rows.length}}
    <div class="group">
        {{#each rows}}
        {{#if (eq this.type 'trainedSkill')}}
        {{> selectRow this}}
        {{else if (eq this.type 'addedLanguage')}}
        {{> selectRow this}}
        {{/if}}
        {{/each}}
    </div>
    {{/if}}

    {{#each groups}}
    <div class="group {{this.type}}">
        <h3>{{this.label}}</h3>
        {{#if (eq this.type 'scrollChain')}}
        {{#each this.rows}}
        {{> dropRow entry=this group=../this search='searchSpell'}}
        {{/each}}
        {{/if}}
    </div>
    {{/each}}
</div>

<div class="buttons">
    <button data-action="accept"><i class="fas fa-save"></i> {{i18n 'accept'}}</button>
    <button data-action="cancel"><i class="fas fa-times"></i> {{i18n 'cancel'}}</button>
</div>

{{#*inline 'dropRow'}}
<label data-droppable="true">{{entry.label}}</label>
<input type="text" data-droppable="true" value="{{entry.name}}" data-type="{{group.type}}" data-category="{{group.category}}"
    data-uuid="{{entry.uuid}}" data-level="{{entry.level}}" disabled />
<a data-action="{{search}}" data-level={{entry.level}} data-traits="{{traits}}"><i class="fas fa-search"></i></a>
<a data-action="clear" {{#unless entry.uuid}} class="disabled" {{/unless}}><i class="fas fa-times"></i></a>
{{/inline}}

{{#*inline 'selectRow'}}
<label>{{label}}</label>
<select data-type="{{type}}" data-category="{{category}}">
    {{selectOptions options nameAttr='key' labelAttr='key' selected=selected}}
</select>
{{/inline}}