<div class="content">
    {{#if rows.length}}
    <div class="group rows">
        {{#each rows as | group |}}
        {{> (concat group.rows.[0].rowType 'Row') entry=group.rows.[0] group=group label=group.label}}
        {{/each}}
    </div>
    {{/if}}

    {{#each groups as | group |}}
    <div class="group {{group.type}}">
        <h3>{{group.label}}</h3>
        {{#each group.rows as | row |}}
        {{> (concat row.rowType 'Row') entry=row group=group label=row.label}}
        {{/each}}
    </div>
    {{/each}}
</div>

<div class="buttons">
    <button data-action="accept"><i class="fas fa-save"></i> {{i18n 'accept'}}</button>
    <button data-action="cancel"><i class="fas fa-times"></i> {{i18n 'cancel'}}</button>
</div>

<div class="cover">
    <div class="loader"></div>
</div>


{{#*inline 'alertRow'}}
<label>{{label}}</label>
<input type="text" class="alert" data-type="{{group.type}}" data-category="{{group.category}}" {{{@root.dump entry}}} disabled>
<a class="alert" data-action="alert" title="{{@root.i18n 'tooltip.alert'}}"><i class="fa-solid fa-triangle-exclamation"></i></a>
{{/inline}}

{{#*inline 'inputRow'}}
<label>{{label}}</label>
<input type="text" class="input" data-type="{{group.type}}" data-category="{{group.category}}" {{{@root.dump entry}}} />
<a data-action="clear" title="{{@root.i18n 'tooltip.clear'}}">
    <i class="fas fa-times"></i>
</a>
{{/inline}}

{{#*inline 'dropRow'}}
<label data-droppable="true">{{label}}</label>
<input type="text" class="drop" data-droppable="true" data-type="{{group.type}}" data-category="{{group.category}}" {{{@root.dump entry}}}
    disabled />
<a data-action="search" data-type="{{group.type}}" data-category="{{group.category}}" {{{@root.dump entry}}}"
    title="{{@root.i18n 'tooltip.search'}}">
    <i class="fas fa-search"></i>
</a>
<a data-action="clear" {{#unless entry.uuid}} class="disabled" {{/unless}} title="{{@root.i18n 'tooltip.clear'}}">
    <i class="fas fa-times"></i>
</a>
{{/inline}}

{{#*inline 'selectRow'}}
<label>{{label}}</label>
<select data-type="{{group.type}}" data-category="{{group.category}}" {{{@root.dump entry}}}>
    {{#select entry.value}}
    {{#each entry.options as | option |}}
    <option value="{{option.value}}">{{option.label}}</option>
    {{/each}}
    {{/select}}
</select>
{{/inline}}

{{#*inline 'comboRow'}}
<label>{{label}}</label>
<div class="combo">
    <select>
        <option value=""></option>
        {{#select entry.value}}
        {{#each entry.options as | option |}}
        <option value="{{option.value}}">{{option.label}}</option>
        {{/each}}
        {{/select}}
    </select>
    <input type="text" class="input" data-type="{{group.type}}" data-category="{{group.category}}" {{{@root.dump entry}}} />
</div>
{{/inline}}

{{#*inline 'randomRow'}}
<label>{{label}}</label>
<select class="random" data-type="{{group.type}}" data-category="{{group.category}}">
    {{#each entry.options as | option |}}
    <option value="{{option.value}}">{{option.label}}</option>
    {{/each}}
</select>
<div class="die" title="{{@root.i18n 'tooltip.random'}}"><i class="fa-solid fa-dice-d20"></i></div>
{{/inline}}