<div class="content">
    {{#if rows.length}}
    <div class="rows">
        {{#each rows}}
        {{#if (eq this.type 'trainedSkill')}}
        <label>{{this.label}}</label>
        <select data-type="{{this.type}}" data-category="{{this.category}}">
            {{selectOptions this.skills nameAttr='skill' labelAttr='skill' selected=this.selected}}
        </select>
        {{else if (eq this.type 'addedLanguage')}}
        <label>{{this.label}}</label>
        <select data-type="{{this.type}}" data-category="{{this.category}}">
            {{selectOptions this.languages nameAttr='language' labelAttr='language' selected=this.selected}}
        </select>
        {{/if}}
        {{/each}}
    </div>
    {{/if}}

    {{#each groups}}
    <div class="group {{this.type}}">
        <h3>{{this.label}}</h3>
        {{#if (eq this.type 'scrollChain')}}
        {{#each this.rows}}
        <label data-droppable="true">{{localize (concat 'PF2E.SpellLevel' this.spellLevel)}}</label>
        <input type="text" data-droppable="true" value="{{this.name}}" data-type="{{../this.type}}" data-category="{{../this.category}}"
            data-uuid="{{this.uuid}}" data-level="{{this.spellLevel}}" disabled />
        <a data-action="searchSpell" data-level={{this.spellLevel}}><i class="fas fa-search"></i></a>
        <a data-action="clear" {{#unless this.uuid}} class="disabled" {{/unless}}><i class="fas fa-times"></i></a>
        {{/each}}
        {{/if}}
    </div>
    {{/each}}
</div>

<div class="buttons">
    <button data-action="accept"><i class="fas fa-save"></i> {{i18n 'accept'}}</button>
    <button data-action="cancel"><i class="fas fa-times"></i> {{i18n 'cancel'}}</button>
</div>