<div class="content">
    {{#if longevity}}
        <div class="large-group">
            <div class="row">
                <label>{{i18n 'longevity'}}</label>
                <select name="longevity">
                    {{selectOptions longevity.skills nameAttr='skill' labelAttr='skill' selected=longevity.selected}}
                </select>
            </div>
        </div>
        <hr>
    {{/if}}

    {{#if (or feats.scroll.[0] feats.trickster.[0])}}
        <div class="groups">
            {{#if feats.scroll.[0]}}
                {{> spellGroup group=feats.scroll values=saved.scroll category='scroll'}} 
            {{/if}}
            {{#if feats.trickster.[0]}}
                {{> spellGroup group=feats.trickster values=saved.trickster category='trickster'}} 
            {{/if}}
        </div>
    {{/if}}
</div>

<div class="buttons">
    <button data-action="accept"><i class="fas fa-save"></i> {{i18n 'accept'}}</button>
    <button data-action="cancel"><i class="fas fa-times"></i> {{i18n 'cancel'}}</button>
</div>

{{#*inline 'spellGroup'}}
<div class="group" data-type="spell" data-category="{{category}}">
    <h3>{{i18n category}}</h3>
    {{> spellRow spellLevel=1}} 
    {{#if (gte level 8)}} 
        {{> spellRow spellLevel=2}} 
    {{/if}}
    {{#if group.[1]}}
        {{> spellRow spellLevel=3}} 
        {{#if (gte level 14)}}
            {{> spellRow spellLevel=4}}
        {{/if}}
        {{#if (gte level 16)}}
            {{> spellRow spellLevel=5}}
        {{/if}}
    {{/if}}
    {{#if group.[2]}}
        {{> spellRow spellLevel=6}}
        {{#if (gte level 20)}}
            {{> spellRow spellLevel=7}}
        {{/if}}
    {{/if}}
</div>
{{/inline}} 

{{#*inline 'spellRow'}}
<label>{{localize (concat 'PF2E.SpellLevel' spellLevel)}}</label>
<input 
    type="text" 
    name="spell"
    value="{{getSpellValue values spellLevel 'name'}}" 
    data-uuid="{{getSpellValue values spellLevel 'uuid'}}" 
    data-level="{{spellLevel}}"
    disabled
/>
<a data-action="search" data-level={{spellLevel}}><i class="fas fa-search"></i></a>
<a data-action="clear"{{#unless (getSpellValue values spellLevel 'uuid')}} class="disabled"{{/unless}}><i class="fas fa-times"></i></a>
{{/inline}}

