<div class="pf2e-dailies-spontaneous-multi">
    <div class="hint">{{{i18n 'multi' rank=castRank}}}</div>
    <hr>
    <div class="list">
        {{#each entries as |entry|}}
        <label>
            <input type="radio" name="entry" value="{{entry.index}}" {{checked (eq @index 0)}}>
            {{entry.name}}
            ({{entry.remaining}} {{@root.i18n 'remaining'}})
        </label>
        {{/each}}
    </div>
</div>